QPushButton#SettingsButton {
    background-color: #25262c;
    border-radius: 6px;
    padding: 5;
}

QPushButton:hover#SettingsButton {
    background-color: #48484D; 
    border-radius: 6px;
    border: none
}
