QPushButton#GuardButton {
    background-color: #25262c;
    border-radius: 6px;
    padding: 5;
}

QPushButton:hover#GuardButton {
    background-color: #454850; 
    border-radius: 6px;
    border: none;
}
